.App {
  /* max-width: 70%; */
  margin: 30;
  /* text-align: center; */
}

.form input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.form button {
  margin-top: 10px;
  padding: 10px;
}

.form button:hover {
  cursor: pointer;
}

.form {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.faqs {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  border-color: rgb(93, 94, 95);
  border-style: solid;
  padding: 20px 30px;
}

.success {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(211, 252, 237);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  margin-top: 100px;
}