.App {
  /* max-width: 70%; */
  margin: 30;
  /* text-align: center; */
}

.form input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.form button {
  margin-top: 10px;
  padding: 10px;
}

.form button:hover {
  cursor: pointer;
}

.form {
  text-align: center;
  margin-top: 30px;
}

.footer {
  text-align: center;
  margin-top:100px;
}